.container {
    /* border: solid red 10px; */
    /* height: 100vh; */
}

.background1 {
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    /* background-size: cover;
    padding: 20% 30px;
    margin-bottom: 4%;
    margin-top: 0px; */

/* 
    width: 900px; 
    height: 600px; */
}
