.gallery-img {
    width: 150px;
    margin: 10px;
    filter: grayscale(100%);
    /* height: 200px; */
}

.gallery-img:hover {
    filter: grayscale(10%);
    width: 31%;
}

.gallery-wigs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 80%; */
    /* text-align: center; */
    /* align-items: center; */
}

.gallery-fix {
    height: 200px;
}

@media screen and (min-width: 600px) {
    .gallery-full {
        width: 30%;
        margin: 10px 5%;
        /* height: 25%; */
    }
}