.gallery-img {
    width: 150px;
    margin: 10px;

}

.gallery-wigs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .gallery-full {
        width: 45%;
        /* height: 25%; */
    }
}