.link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.link:visited {
    color: black;
}

li {
    margin: 0px 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    width: 80%;
}

.navigation {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
}

.navbar:hover {
    color: black;
}

.icon {
    height: 40px;
    margin: 20px 0px 20px 20px;
    padding-left: 25%;
    filter: grayscale(100%);
}