.link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.link:visited {
    color: black;
}

li {
    margin: 0px 6px 0px 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    width: 80%;
    margin: 20px 0px;
}


.navbar:hover {
    color: black;
}

.icon {
    height: 40px;
    margin: 20px 0px 20px 10px;
    padding-left: 25%;
    filter: grayscale(100%);
    /* float: left;
    display: block; */
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        font-size: 30px;
        width: 95%;
    }

    li {
        margin: 0px 15px;
    }

    .icon {
        height:45px;
        margin: 20px 30px;
        padding-left: 25%;
        filter: grayscale(100%);
    }
}