.profile {
    width: 90%;
    filter: grayscale(100%);
}

.profile:hover {
    filter: grayscale(0%);
}

@media screen and (min-width: 600px) {
    .profile {
        width: 20%;
    }    
}