.profile {
    width: 30%;
}

.service-list {
    list-style: none;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    border: 2px solid black;
    margin: 0px 100px;
}