.logo {
    width: auto;
    height: 20px;
}

.logo:hover {
    opacity: .25;
}

.space {
    height: auto;
    margin: 40px 30px;
}

.footer_logos {
    background-image: url(../../assets/salon-tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    bottom: 0;
}

@media screen and (min-width: 600px) {
    .footer_logos {
        height: 250px;
    }

    .logo {
        height: 35px;
    }
}