.logo {
    width: auto;
    height: 25px;
}

.logo:hover {
    opacity: .25;
}

.space {
    height: auto;
    margin: 40px 30px;
}

.footer_logos {
    background-image: url(../../assets/salon-tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}