.logo {
    width: auto;
    height: 20px;
    margin: 20px;
}

.footer_logos {
    background-image: url(../../assets/salon-tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}