.information {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    margin: 30px;
}

.boxes {
    border: solid black 1px;
    padding: 40px;
    margin: 5px;
    /* background-image: none; */
    background-color: whitesmoke;
}

.boxes:hover {
    background-color: rgb(174, 250, 255);
}

@media screen and (min-width: 600px) {
    .boxes {
        padding: 10%;
        background-image: url('../../assets/beauty.jpg');
        /* background-position: cover; */
        background-size: cover;
        color: rgb(85, 85, 85);
    }
}