.information {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    margin: 30px;
}

.boxes {
    border: solid black 2px;
}