.information {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    margin: 30px;
}

.boxes {
    border: solid black 1px;
    padding: 40px;
    margin: 5px;
    /* background-image: none; */
    background-color: whitesmoke;
    color: rgb(85, 85, 85);
    font-size: 50px;
}

.boxes:hover {
    background-color: rgb(187, 187, 187);
}

@media screen and (min-width: 600px) {
    .boxes {
        padding: 8%;
        /* background-image: url('../../assets/beauty.jpg'); */
        background-size: cover;
        color: rgb(85, 85, 85);
        /* opacity: 50%; */
        width: 200px;
    }

    .information { 
        flex-direction: row;
    }
}